<div class="container">
  <section class="image">
    <img />
  </section>
  <section class="text">
    <h3>Nossa história</h3>
    <p>
      A UaiPet surgiu com o objetivo de facilitar e incentivar a adoção de
      animais. Através de parcerias com abrigos de Belo Horizonte, nós
      disponibilizamos todas as informações dos animais que estão a procura de
      um lar para usuários que estão a procura de um bichinho de estimação,
      fazendo a ponte entre os dois.
    </p>
  </section>
</div>
