<div class="container">
  <span>Uai pet</span>
  <form class="form" [formGroup]="userLogin" (ngSubmit)="login()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome da Ong</mat-label>
      <input matInput value="" type="name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput value="" type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Endereço</mat-label>
      <textarea matInput placeholder="Endereço" formControlName="Adress"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Complemento</mat-label>
      <textarea matInput formControlName="Adress2"></textarea>
    </mat-form-field>
    <table class="example-full-width" cellspacing="0">

      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="City">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Ex. California" formControlName="State">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput #postalCode maxlength="8" placeholder="Ex. 30389028" value="30389028" formControlName="PostalCode">
          <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
        </mat-form-field>
      </td>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!userLogin.valid">Entrar</button>
      </div>
    </table>
  </form>
</div>
