<div class="container">
  <span>Uai pet</span>
  <form class="form" [formGroup]="userLogin" (ngSubmit)="login()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome da Ong</mat-label>
      <input matInput value="" type="name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="Telefone" formControlName="telefone">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Endereço</mat-label>
      <textarea matInput placeholder="Endereço" formControlName="address"></textarea>
    </mat-form-field>
    <div class="flex">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Complemento</mat-label>
      <textarea matInput formControlName="address2"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput #postalCode maxlength="8" placeholder="Ex. 30389028" value="30389028" formControlName="postalCode">
      <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
    </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. San Francisco" formControlName="city">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. California" formControlName="state">
      </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!userLogin.valid">Entrar</button>
      </div>

  </form>
</div>
