<div class="form">
    <form class="form">
      <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput value="" type="name">
          </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput value="" type="email">
          </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <mat-slide-toggle style="font-weight: bold; font-size: medium;">Represento um abrigo</mat-slide-toggle>
      <br>
      <br><button style="background-color:palegreen; font-size:medium;">Cadastrar</button>
    </form>
  </div>