<mat-toolbar color="secondary" class="container">
  <a [routerLink]="['animals']">Nossos animais</a>
  <span class="material-icons"> circle </span>
  <a [routerLink]="['uaipet']">Sobre a uaiPet</a>
  <span class="material-icons"> circle </span>
  <a [routerLink]="['adoption']">Sobre adoção</a>
  <span class="material-icons"> circle </span>
  <a [routerLink]="['ongs']">Abrigos parceiros</a>
  <span *ngIf="user?.isOng" class="material-icons"> circle </span>
  <a *ngIf="user?.isOng" [routerLink]="['control']">Controle de animais</a>
</mat-toolbar>
