.table {
  position: absolute;
  min-width:100%;
  max-width:100%;
  > ng-container {
    th {
      font-weight: bold;
    }
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.column {
  margin: 1rem;
}
