.container {
  display: flex;
  > section {
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  .img-section {
    background-color: #c5ffc5;

    > img {
      height: 100vh;
    }
  }
}
